
body {
    margin: 0%;
    padding: 0px;
    background: url(IMG/invcs.png)no-repeat center center fixed; 
    background-size: cover;

}
h1{ 
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: larger;
    margin-inline: 30px;
}

h2{
    width: 1000px;
    height: 50px;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin: -15%;
}

img {
    width: 250px;
    height: 250px;
}
.img2{
    width: 200px;
    height: 200px;
    margin-inline-start: 880px ;
    margin-top: -3%;
}
 table, th, td {
    width: 65%;
    height: 20px;
    margin-inline: 280px;
    margin-top: 20%;
    font-size: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 80);
    border-collapse:initial;
    background-color:  #c2dfee;
    text-align: center;
    padding: 18px 30px;
    border-bottom: linear-gradient (150deg,#d7d7ed ,#0F40F5); ;
}
 
th {
    background-color: #00b7;
    font-family: "cinzel decorative";
    font-weight: 1000;
    font-size: 20px;
    
}

table {
    background:linear-gradient(150deg,#d7d7ed ,#0F40F5);
}

td:hover{
    background-color: #7185cf;
}

tr{
    cursor: pointer;
    transition: all ease 400ms;
}

 a{
    text-decoration: none;
    color: #ffffff;     
}
a:hover{
    color: #000000;
}

     
.btn1 {
    background:linear-gradient(150deg,#181884 ,#0F40F5);
    margin-left: 1%;
    border-radius: 15px;
    border: 5px solid;
    padding: 7px;
    font-weight: 700;
    background-image: -o-linear-gradient(150deg);
    font-family: "cinzel decorative";
    color: #00ddff;
    box-shadow: 8px 3px 0px #000000;
    

}
.btn1:hover{
    background-image: linear-gradient(150deg,#9500ff, #09f, #00ddff);
    color: #000000;
}
.btn2 {
    background:linear-gradient(150deg,#181884 ,#0F40F5);
    margin-left: 2%;
    border-radius: 15px;
    border: 5px solid;
    padding: 7px;
    font-weight: 700;
    font-family: "cinzel decorative";
    color:#00ddff;
    box-shadow: 8px 3px 0px #000000;
}
.btn2:hover{
    background-image: linear-gradient(150deg,#9500ff, #09f, #00ddff);
    color: #000000;
}

.btn3 {
    background:linear-gradient(150deg,#181884 ,#0F40F5);
    margin-left: 75%;
    border-radius: 15px;
    border: 5px solid;
    padding: 7px;
    font-weight: 700;
    background-image: -o-linear-gradient(150deg);
    font-family: Arial, Helvetica, sans-serif;
    border-color:#00ddff;
    box-shadow: 8px 3px 0px #000000;
    

}
.btn3:hover{
    background-image: linear-gradient(150deg,#9500ff, #09f, #00ddff);
    border-color: #000000;
}
.ingreso1{
    margin-left: 100%;
    
}
    
.modal{
    position: fixed;
    top:0%;
    left:0%;
    right: 0%;
    bottom: 0%;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s .2s;
    --transform:translateY(-100vh);
    --transition: transform .8s;
}
.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .2s;
    --transform: translateY(0);
    --transition: transform .5s .5s;
}
.modal_container{
    margin: auto;
    width: 35%;
    max-width: 600px;
    max-height: 70%;
    background:linear-gradient(150deg,#d7d7ed ,#0F40F5);
    border-radius: 7px;
    padding: 1em 1em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transform);
    box-shadow: 7px 13px 40px #ffffff;
}
.modal_title{
    font-size: 2.5rem;
    margin-top: -20%;
    margin-left: 155%;
    color: red;
}
.modal_paragraph{
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 2%;
}
.modal_img{
    width: 70%;
    height: 80%;
    max-width: 300px;
    margin-top: -10%;
}
.modal_close{
    text-decoration: none;
    color: #ffffff;
    background:linear-gradient(150deg,#181884 ,#0F40F5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 0.5em 1em;
    border: 3px solid;
    border-radius: 10px;
    border-color: #00ddff;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
    font-weight: 700;
    box-shadow: 8px 3px 0px #000000;

}
.modal_close:hover{
    color: #000000;
    border-color: #000000;
    background-image:  linear-gradient(150deg,#9500ff, #09f, #00ddff);
    font-weight: 900;
}